<title>Bill Comparison</title>

<h1>Bill Comparison (Demo)</h1>

<p id="notice"><%= notice %></p>

<% @site = Site.find(session[:selected_site_id]) %>
			<% @zip = @site.zip_code %>
			<% @phases = @site.phases %>

<% if session[:selected_site_load_profile_id] == nil %>
<%# => fix
	# find all the site_load_profiles for the give site, 
	#    and select the one with the most recent meter_read_date %>

<% else %>
	<%# finds the site_load_profile based on the selected_site_load_profile_id store in session %>
	<% @site_load_profile = SiteLoadProfile.find(session[:selected_site_load_profile_id]) %>
<% end %>

<% @zip = @site.zip_code %>
<% @demand = @site_load_profile.all_demand %>
<% @usage = @site_load_profile.all_usage %>
<% @date = @site_load_profile.meter_read_date %>
<% @phases = @site.phases %>

<% @territory = TariffTerritory.territory(@zip) %>
<% @utility = TariffUtility.utility(@zip) %> 
<% @season = TariffSeason.season(@date, @zip) %> 
<% @tou = TariffTou.tou(@date, @zip) %>
<% @meter_read = TariffMeterRead.meter_read(@date, @zip) %>
<% @billing_class = TariffBillingClass.billing_class(@zip, @demand, @usage, @phases) %>
<% @tariffs = TariffTariff.tariffs(@billing_class) %>
<% @line_items = TariffLineItems.line_items(@tariffs, @date, @season) %>
<% @bill_groups = TariffBillGroup.bill_groups(@billing_class) %>	

<div class="top"> <!-- gets all the data needed to display the bill -->
	<!-- shows the utility and billing period -->
	<p>
		<br>
		<%= @date %>
		<%= @utility.utility_name %>
	</p>
	<p>
	
		<strong> Billing Period: <%= @meter_read["start_date"] %> to <%= @meter_read["end_date"] %> </strong>
		
		<%#	=> allow user to "go to" next record or previous record in the load profile for the site %>		
		<div class="left">
			<%if SiteLoadProfile.check_previous(@site.id, session[:selected_site_load_profile_id]) %>
				<%= button_to "(previous month)", action: "change_site_load_profile", site_id: @site.id, 
					selected_site_load_profile_id: session[:selected_site_load_profile_id], 
					next_or_previous: 'previous' %>

			<% else %>
				(previous month)

			<% end %>
			
		</div>
		
		<div class="right">
			<%if SiteLoadProfile.check_next(@site.id, session[:selected_site_load_profile_id]) %>
				<%= button_to "(next month)", action: "change_site_load_profile", site_id: @site.id, 
					selected_site_load_profile_id: session[:selected_site_load_profile_id], 
					next_or_previous: 'next' %>

			<% else %>
				(next month)

			<% end %>
		</div>

		<%# button_to "Previous" %>

	</p>

	 <!-- this area shows the header information for the bill -->
 	<p>
		kWh used = <%= @usage %>
		<%#= link_to "(edit usage)" %>
		<!--<a href="#" onclick="prompt('New Usage:'); return false">(edit usage)</a>-->
	</p>
	<p>
		Billed Load in kW = <%= @demand %>
	</p>
	<p>
		Rate Class: <%= @billing_class[0].billing_class_name %>
	</p>
</div>

<div>
		<%= link_to "Enter New Site Info", '/input' %>
</div>

<!-- sorts the line items by bill group -->
<% @line_items.sort_by{ |i| i.bill_group_order} %>
<% @bill_groups.sort_by{ |i| i.bill_group_order} %>

<% @bill_total = 0 %>
 <% @bill_groups.each do |j| %>

	<!-- shows the name of the section of the bill -->
	<h5><%= j.bill_group_name %></h5>

		
	<table> <!-- to test my understanding of tables -->
		<% @bill_group_total = 0 %>
		<% @line_items.each do |i| %>
			<% if j.id == i.tariff_bill_group_id %>
				<tr>
					<td> <%= i.line_item_name %> </td> <!-- name -->
					<% case i.line_item_type %>
					<% when '$/month' %>
						<td> </td>	<!-- value -->
						<td> </td> 	<!-- value label -->
						<td> </td>	<!-- math symbol -->
						<td> </td> 	<!-- rate -->
						<td> 
							<% @bill_group_total += i.line_item_rate %>
							<%= number_to_currency(i.line_item_rate) %> <!-- total -->
						</td> 

					<% when '$/kW' %>
						<td> <%= @demand %> </td>	<!-- value -->
						<td> kW </td> 	<!-- value label -->
						<td> x </td>	<!-- math symbol -->
						<td> <%= number_to_currency(i.line_item_rate, precision: 3) %> </td> 	<!-- rate -->
						<td> 
							<% @bill_group_total += (i.line_item_rate * @demand.to_f) %>
							<%= number_to_currency(i.line_item_rate * @demand.to_f) %> <!-- total -->
						</td> 
					<% when '$/kWh' %>

						<!-- The td spaces out the sencond table to appear in line with the first -->
						<td> <%= @usage %> </td> <!-- value -->
						<td> kWh </td> 	<!-- value label -->
						<td> x </td>	<!-- math symbol -->
						<td> <%= number_to_currency(i.line_item_rate, precision: 6) %> </td> 	<!-- rate -->
						<td> 
							<% @bill_group_total += (i.line_item_rate * @usage.to_f) %>
							<%= number_to_currency(i.line_item_rate * @usage.to_f) %> <!-- total -->
						</td> 

					<% when 'Stepped' %>
						<% @stepped_rates = TariffSteppedRates.stepped_rates(i.id) %>
						<% @stepped_rates.each do |k| %>
							<% case k.stepped_rates_unit %>
							<% when 'kW' %>
								<% if @demand.to_f > k.stepped_rates_start %>
									<tr>
										<td> </td>
										<td> 
											<% if k.stepped_rates_end.blank? %> 
												<% @temp_value = (@demand.to_f - k.start) %>
											<% else %>
												<% if @demand.to_f > k.stepped_rates_end %>
													<% @temp_value = (k.end - k.start) %>
												<% else %>
													<% @temp_value = (@demand.to_f - k.stepped_rates_start) %>
												<% end %>
											<% end %>
											<%= @temp_value %> <!-- value -->
										</td>	
										<td> kW </td> 	<!-- value label -->
										<td> x </td>	<!-- math symbol -->
										<td> <%= number_to_currency(k.line_item_rate, precision: 6) %> </td> 	<!-- rate -->
										<td> 											
											<% @bill_group_total += (k.line_item_rate * @temp_value) %>
											<%= number_to_currency(k.line_item_rate * @temp_value) %> <!-- total -->
										</td>
									</tr> 
								<% end %>
							<% when 'kWh' %>
								<% if @usage.to_f > k.stepped_rates_start %>
									<tr>
										<td> </td>
										<td> 
											<% if k.stepped_rates_end.blank? %> 
												<% @temp_value = (@usage.to_f - k.stepped_rates_start) %>
											<% else %>
												<% if @usage.to_f > k.stepped_rates_end %>
													<% @temp_value = (k.stepped_rates_end - k.stepped_rates_start) %>
												<% else %>
													<% @temp_value = (@usage.to_f - k.stepped_rates_start) %>
												<% end %>
											<% end %>
											<%= @temp_value %> <!-- value -->
										</td>	
										<td> kWh </td> 	<!-- value label -->
										<td> x </td>	<!-- math symbol -->
										<td> <%= number_to_currency(k.stepped_rates_rate, precision: 6) %> </td> 	<!-- rate -->
										<td> 
											<% @bill_group_total += (k.stepped_rates_rate * @temp_value) %>
											<%= number_to_currency(k.stepped_rates_rate * @temp_value) %> <!-- total -->
										</td>
									</tr> 
								<% end %>
							<% else %>
								This is going to be a problem <!-- flags an issue with the data in the database -->
							<% end %>
						<% end %>
					<% else %>
						<td> <%= i.line_item_type %> </td>
					<% end %>
				</tr>
			<% end %>
		<% end %>
			
	</table>

		<!-- determines the total for that section of the bill -->
	<div class="group">
		<p>
			&nbsp &nbsp &nbsp &nbsp &nbsp Total for <%= j.bill_group_name %> = <%= number_to_currency(@bill_group_total) %>
		<% @bill_total += @bill_group_total %>
		</p>
	</div>
<% end %>

<div class="total">
	<h4>
		Total Bill = <%= number_to_currency(@bill_total) %>
	</h4>
</div>

<br>
<br>
<br>
<br>
<br>
