<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Gulch Solutions", root_path, id: "logo" %>
      <ul class="nav pull-right">
      	  <% if signed_in? %>
            <li><%= link_to "Profile",          current_user %></li>
            <li><%= link_to "Sites",            site_path(current_user) %></li>
            <li><%= link_to "Bill Comparison",  tool_path %></li>
            <li><%= link_to "Get Usage",        new_usage_fetcher_path %></li>
            <li><%= link_to "Sign Out",         signout_path %></li>            
          <% else %>
            <li><%= link_to "View Demo",  signin_path %></li>
            <li><%= link_to "Company",    company_path %></li>
            <li><%= link_to "Contact",    contact_path %></li>
            <li><%= link_to "Sign In",    signin_path %></li>
          <% end %>
          
        </ul>
      </div>
  </div>
</header>